.login-container {
  width: 300px;
  margin: 80px auto;
  padding: 25px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%; /* changed from 90% to 100% */
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* make padding work properly */
}


.login-container button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #1976d2;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 20px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}
